:focus { outline: none; }

textarea {
    min-height: 40px;
    margin-right: 10px;
    vertical-align: top;
}

button {
    height: 46px;
    width: 46px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.row {
    width: 300px;
    margin: 5px auto;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

#map {
    height: 1000px;
}